<div class="block--light">
  <section class="container">
    <main class="main">
      <div class="main__description">
        <svg class="main__line">
          <use xlink:href="images/sprite.svg#pattern-curved-line-1"></use>
        </svg>
        <h1 class="main__heading">
          A <strong class="strong">super solution</strong><br> for your <strong class="strong">business.</strong>
        </h1>
        <p class="main__text">
          Our marketing and sales automations help you scale your outreach to get more leads for your company.
        </p>
        <a href="#" class="btn btn--dark main__btn">Request Beta Access</a>
      </div>
      <div class="main__image">
        <picture>
          <source media="(min-width: 768px)"
            type="image/webp"
            srcset="images/image-hero-portrait.webp 1x, images/image-hero-portrait@2x.webp 2x">
          <source media="(min-width: 768px)"
            type="image/png"
            srcset="images/image-hero-portrait.png 1x, images/image-hero-portrait@2x.png 2x">
          <!-- Images for mobile -->
          <source 
            type="image/webp"
            srcset="images/image-hero-landscape.webp 1x, images/image-hero-landscape@2x.webp 2x">
          <source 
            type="image/png"
            srcset="images/image-hero-landscape.png 1x, images/image-hero-landscape@2x.png 2x">            
          <img src="images/image-hero-landscape.png" alt="">
        </picture>
      </div>
      <div class="main__indicators">
        <p class="indicator"><strong class="indicator__strong">2K+</strong><br> COMPANIES</p>
        <p class="indicator"><strong class="indicator__strong">8</strong><br> LANGUAGES</p>
        <p class="indicator"><strong class="indicator__strong">1.2M</strong><br> LEADS</p>
      </div>
    </main>
  </section>
</div>