<div class="block--cream">
  <section class="container">
    <footer class="footer">
      <svg class="logo">
        <use xlink:href="images/sprite.svg#logo"></use>
      </svg>
      <p class="footer__copyright">
        Copyright - Suite
      </p>
      <div class="footer__media">
        <svg class="footer__media-object">
          <use xlink:href="images/sprite.svg#facebook"></use>
        </svg>
        <svg class="footer__media-object">
          <use xlink:href="images/sprite.svg#twitter"></use>
        </svg>
        <svg class="footer__media-object">
          <use xlink:href="images/sprite.svg#instagram"></use>
        </svg>
      </div>
    </footer>   
  </section>
</div>